﻿@model IEnumerable<Cake.Models.Blog>

@{
	Layout = "_Layout";
	ViewBag.Title = "Menu-Cake Bakery";
}

<!--================End Main Header Area =================-->
<section class="banner_area">
	<div class="container">
		<div class="banner_text">
			<h3>Blog</h3>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="blog.html">Blog</a></li>
			</ul>
		</div>
	</div>
</section>
<!--================End Main Header Area =================-->
<!--================Blog Main Area =================-->
<section class="main_blog_area p_100">
	<div class="container">
		<div class="blog_area_inner">
			<div class="main_blog_column row">
				<div class="col-lg-6">
					<div class="blog_item">
						<div class="blog_img">
							<img class="img-fluid" src="assets/img/blog/column/blog-c-1.jpg" alt="">
						</div>
						<div class="blog_text">
							<div class="blog_time">
								<div class="float-left">
									<a href="#">08 Feb. 2018</a>
								</div>
								<div class="float-right">
									<ul class="list_style">
										<li><a href="#">By :  Admin</a></li>
										<li><a href="#">bekery, sweet</a></li>
										<li><a href="#">Comments: 8</a></li>
									</ul>
								</div>
							</div>
							<a href="#"><h4>This mistaken idea of denouncing pleasure and praising pain</h4></a>
							<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione volup tatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia ...</p>
							<a class="pink_more" href="#">Read more</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="blog_item">
						<div class="blog_img">
							<img class="img-fluid" src="assets/img/blog/column/blog-c-2.jpg" alt="">
						</div>
						<div class="blog_text">
							<div class="blog_time">
								<div class="float-left">
									<a href="#">08 Feb. 2018</a>
								</div>
								<div class="float-right">
									<ul class="list_style">
										<li><a href="#">By :  Admin</a></li>
										<li><a href="#">bekery, sweet</a></li>
										<li><a href="#">Comments: 8</a></li>
									</ul>
								</div>
							</div>
							<a href="#"><h4>This mistaken idea of denouncing pleasure and praising pain</h4></a>
							<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione volup tatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia ...</p>
							<a class="pink_more" href="#">Read more</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="blog_item">
						<div class="blog_img">
							<img class="img-fluid" src="assets/img/blog/column/blog-c-3.jpg" alt="">
						</div>
						<div class="blog_text">
							<div class="blog_time">
								<div class="float-left">
									<a href="#">08 Feb. 2018</a>
								</div>
								<div class="float-right">
									<ul class="list_style">
										<li><a href="#">By :  Admin</a></li>
										<li><a href="#">bekery, sweet</a></li>
										<li><a href="#">Comments: 8</a></li>
									</ul>
								</div>
							</div>
							<a href="#"><h4>This mistaken idea of denouncing pleasure and praising pain</h4></a>
							<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione volup tatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia ...</p>
							<a class="pink_more" href="#">Read more</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="blog_item">
						<div class="blog_img">
							<img class="img-fluid" src="assets/img/blog/column/blog-c-4.jpg" alt="">
						</div>
						<div class="blog_text">
							<div class="blog_time">
								<div class="float-left">
									<a href="#">08 Feb. 2018</a>
								</div>
								<div class="float-right">
									<ul class="list_style">
										<li><a href="#">By :  Admin</a></li>
										<li><a href="#">bekery, sweet</a></li>
										<li><a href="#">Comments: 8</a></li>
									</ul>
								</div>
							</div>
							<a href="#"><h4>This mistaken idea of denouncing pleasure and praising pain</h4></a>
							<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione volup tatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia ...</p>
							<a class="pink_more" href="#">Read more</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="blog_item">
						<div class="blog_img">
							<img class="img-fluid" src="assets/img/blog/column/blog-c-5.jpg" alt="">
						</div>
						<div class="blog_text">
							<div class="blog_time">
								<div class="float-left">
									<a href="#">08 Feb. 2018</a>
								</div>
								<div class="float-right">
									<ul class="list_style">
										<li><a href="#">By :  Admin</a></li>
										<li><a href="#">bekery, sweet</a></li>
										<li><a href="#">Comments: 8</a></li>
									</ul>
								</div>
							</div>
							<a href="#"><h4>This mistaken idea of denouncing pleasure and praising pain</h4></a>
							<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione volup tatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia ...</p>
							<a class="pink_more" href="#">Read more</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="blog_item">
						<div class="blog_img">
							<img class="img-fluid" src="assets/img/blog/column/blog-c-6.jpg" alt="">
						</div>
						<div class="blog_text">
							<div class="blog_time">
								<div class="float-left">
									<a href="#">08 Feb. 2018</a>
								</div>
								<div class="float-right">
									<ul class="list_style">
										<li><a href="#">By :  Admin</a></li>
										<li><a href="#">bekery, sweet</a></li>
										<li><a href="#">Comments: 8</a></li>
									</ul>
								</div>
							</div>
							<a href="#"><h4>This mistaken idea of denouncing pleasure and praising pain</h4></a>
							<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione volup tatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia ...</p>
							<a class="pink_more" href="#">Read more</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="blog_item">
						<div class="blog_img">
							<img class="img-fluid" src="assets/img/blog/column/blog-c-7.jpg" alt="">
						</div>
						<div class="blog_text">
							<div class="blog_time">
								<div class="float-left">
									<a href="#">08 Feb. 2018</a>
								</div>
								<div class="float-right">
									<ul class="list_style">
										<li><a href="#">By :  Admin</a></li>
										<li><a href="#">bekery, sweet</a></li>
										<li><a href="#">Comments: 8</a></li>
									</ul>
								</div>
							</div>
							<a href="#"><h4>This mistaken idea of denouncing pleasure and praising pain</h4></a>
							<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione volup tatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia ...</p>
							<a class="pink_more" href="#">Read more</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="blog_item">
						<div class="blog_img">
							<img class="img-fluid" src="assets/img/blog/column/blog-c-8.jpg" alt="">
						</div>
						<div class="blog_text">
							<div class="blog_time">
								<div class="float-left">
									<a href="#">08 Feb. 2018</a>
								</div>
								<div class="float-right">
									<ul class="list_style">
										<li><a href="#">By :  Admin</a></li>
										<li><a href="#">bekery, sweet</a></li>
										<li><a href="#">Comments: 8</a></li>
									</ul>
								</div>
							</div>
							<a href="#"><h4>This mistaken idea of denouncing pleasure and praising pain</h4></a>
							<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione volup tatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia ...</p>
							<a class="pink_more" href="#">Read more</a>
						</div>
					</div>
				</div>
			</div>
			<nav aria-label="Page navigation example" class="blog_pagination">
				<ul class="pagination">
					<li class="page-item active"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
				</ul>
			</nav>
		</div>
	</div>
</section>
<!--================End Blog Main Area =================-->

